@import '../../../../../../scss/base/variables';

:host {
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &,
    label,
    input {
      width: 100%;
    }

    label {
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid $black;
      padding-bottom: 5px;
      margin-bottom: 20px;

      img {
        width: 25px;
        margin-right: 5px;
      }

      input {
        font-size: 18px;

        &::placeholder {
          color: $black;
        }
      }
    }
  }
}