<div class="container">
  <img src="/assets/logo-angular.png" alt="Logo do Angular em vermelho" />
  <form>
    <label>
      <img src="/assets/icons/users.svg" alt="Ícone usuários" />
      <input type="email" placeholder="Email" required />
    </label>
    <label>
      <img src="/assets/icons/lock.svg" alt="Ícone cadeado" />
      <input type="password" placeholder="Senha" required />
    </label>

    <span class="message">Email ou senha incorretos</span>

    <button class="btn">
      Login
    </button>
  </form>
</div>